<i class="fa-sharp fa-regular fa-handshake"></i>

<nav class="navbar navbar-expand-sm navbar-dark shadow-sm p-4 mb-4 fixed-top">
    <div class="container-fluid" style="display: flex; justify-content: center;">

        <span><i class="fa-solid fa-handshake logo"></i></span>
        <!-- <div class="heading">
                <h2>Campus<span style="color: orangered;">Trade</span></h2>
                <p>A student to student market place.</p>
            </div> -->
        <a class="navbar-brand" style="font-size:min(35px,4vw); padding: 0px; margin-top: -5px; margin-bottom: -5px;
			" href="javascript:void(0)">Campus<span style="color: orangered;">Trade</span></a>
        <button class="menubtn" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<!-- <i class="fa-sharp fa-regular fa-handshake"style="background-color:white;"></i> -->
                <span class="navbar-toggler-icon"></span>
            </button>

    </div>
</nav>