<footer>

    <div class="fbox">

        <div class="addr">
            <h3 style="text-align: center; color: chartreuse;padding-top: 10px;">Quick links</h3>
            <hr style="width: 90%;color: grey;">
            <div class="address" style="display: flex;flex-direction: column;">
                <img src="http://localhost:3000/assets/logotext.png" alt="" width="300px" height="60px">
                <ul>
                    <li>A Student to student market-place</li>
                    <li>E-Commerce website only for students</li>
                    <li>FFSD-1 group project</li>
                    <li>Team Leader : Aarav Nigam (+91 8840795754)</li>
                </ul>
            </div>

        </div>
        <hr style="width: 90%;color: grey;">
        <ul style="text-align: center;">
            <% if(user) { %>
                <li>
                    <a href="http://localhost:3000/devs/<%=user._id%>">About Us</a>
                </li>
                <% } else { %>
                    <li><a href="http://localhost:3000/devs"> About Us</a></li>
                    <% } %>

                        <li><a href="https://www.linkedin.com/in/aarav-nigam-09982b222/"> Support Us</a></li>
                        <li><a href="https://www.linkedin.com/in/aarav-nigam-09982b222/"> Contact Us</a></li>

        </ul>
        <ul style=" text-align: center;">
            <li><a href="#"> Careers</a></li>
            <li><a href="https://www.linkedin.com/in/aarav-nigam-09982b222/"> Feedback</a></li>
            <li><a href="#"> Policies</a></li>
        </ul>
        <hr style="width: 90%;color: grey;">
    </div>
    <p style="text-align: center;padding-bottom: 20px;">Copyright &copy; Campus-Trade.Inc 2023</p>
</footer>