<!DOCTYPE html>
<html lang="en">

<head>
    <title>Campus Trade</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ef8a591cb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles.css">

</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark shadow-sm p-4 mb-4 fixed-top">
        <div class="container-fluid">
            <i class="fa-solid fa-handshake logo"></i>
            <div class="heading">
                <h2>Campus<span style="color: orangered;">Trade</span></h2>
                <p>A student to student market place.</p>
            </div>
            <!-- <img src="./logo.jpeg" alt="logo"> -->
            <!-- <a class="navbar-brand" style="font-size:min(35px,4vw); padding: 0px; margin-top: -5px; margin-bottom: -5px;" href="javascript:void(0)">College Trade</a> -->
            <button class="menubtn" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <span><form class="d-flex searchbar">
                    <input class="inpsearch" type="text" placeholder="Search">
                    <button class="searchbtn" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form></span>

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="openlogin()" data-bs-toggle="collapse" data-bs-target="#mynavbar">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="openregister()" data-bs-toggle="collapse" data-bs-target="#mynavbar">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Support</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="blur-screen" id="blur-screen" onclick="closeall()">

    </div>




    <div class="outerbox" id="outerbox">
        <div class="header">
            <div class="backbtn"><span style="float: right;font-size: 40px;margin-top: -10px;"><i class="fa-solid fa-circle-arrow-right"  data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back !" onclick="closelogin()"></i></span></div>
            <h2>Log<span style="color: orangered;">in</span></h2>
        </div>
        <div class="profilephoto"><img id="profilephoto" src="./assets/boy1.png" alt="boy" onclick="profilepic()"></div>
        <div class="loginbox">
            <div class="inputbox"><span class="iconn"><i class="fa-solid fa-user"></i></span><input class="uname" type="text" placeholder="User Name"></div>
            <div class="inputbox"><span class="iconn"><i class="fa-solid fa-key"></i></span><input class="upass" type="password" placeholder="Password"></div>
            <input class="subbtn" type="submit" value="Login">
        </div>

        <div class="exist">
            <a href="#" onclick="openregister()">New User ?</a>
        </div>

        <hr>
        <span style="color: white;">Login with <a href="#" class="google"><i class="fa-brands fa-google"></i> google</a></span>
    </div>



    <!-- Register -->
    <div class="registerbox" id="registerbox">

        <div class="header">
            <div class="backbtn"><span style="float: right;font-size: 40px;margin-top: -10px;"><i class="fa-solid fa-circle-arrow-right"  data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back !" onclick="closeregister()"></i></span></div>
            <h2>Sign<span style="color: orangered;">Up</span></h2>
        </div>
        <div class="profilephoto"><img id="Rprofilephoto" src="./assets/boy1.png" alt="boy" onclick="Rprofilepic()"></div>
        <div class="loginbox">
            <div class="inputbox"><span class="iconn"><i class="fa-solid fa-user"></i></span><input class="uname" type="text" placeholder="User Name"></div>
            <div class="inputbox"><span class="iconn"><i class="fa-solid fa-envelope"></i></span><input class="umail" type="email" placeholder="E mail Id"></div>
            <div class="inputbox"><span class="iconn"><i class="fa-solid fa-graduation-cap"></i></span><input class="uclg" type="text" placeholder="College Name"></div>
            <div class="inputbox"><span class="iconn"><i class="fa-solid fa-key"></i></span><input class="upass" type="password" placeholder="New Password"></div>
            <div class="inputbox"><span class="iconn"><i class="fa-solid fa-lock"></i></span><input class="upass" type="password" placeholder="Confirm Password"></div>
            <input class="subbtn" type="submit" value="Sign Up">
        </div>

        <div class="exist">
            <a href="#" onclick="openlogin()">Existing User ?</a>
        </div>

        <hr>



        <span style="color: white;">Sign up with <a href=""><i class="fa-brands fa-google google"></i> google</a></span>
    </div>




    <div class="container-fluid tophead">
        <h2>Featured</h2>
    </div>

    <div class="adContainer" id="ad-cards-container">

    </div>


    <div class="topbtnbar">
        <a href="#" class="btn border-info bg-black text-white topbtn"><span><i class="fa-solid fa-caret-up"></i></span> Top</a>
    </div>


    <footer class="py-3">
        <p>Copyright &copy; Olx-like Website 2023</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="script.js"></script>


</body>

</html>