<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head.ejs'); %>



</head>

<body>

    <%- include('./navbar.ejs',{user :user}); %>
        <div class="container-fluid extendednav"></div>



        <!-- <div class="blur-screen" id="blur-screen" onclick="closeall()">

        </div> -->

        <!-- Carousel -->
        <div class="container fixedcar">
            <div id="demo" class="carousel slide car" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid" src="http://localhost:3000/assets/carousalimage.png" alt="pic1" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="http://localhost:3000/assets/carousal2crop.png" alt="pic2" class="d-block w-50">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="http://localhost:3000/assets/carousalpic3.png" alt="pic3" class="d-block w-100">
                    </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
            </div>







        </div>




        <!-- Live Clock -->
        <div class="clock">
            <div class="bg">
                <h2 id="h">12</h2>
            </div>
            <h2>:</h2>
            <div class="bg">
                <h2 id="m">20</h2>
            </div>
            <h2>:</h2>
            <div class="bg">
                <h2 id="s">00</h2>
            </div>
            <div class="bg">
                <h2 id="ap">AM</h2>
            </div>
        </div>






        <div class="container-fluid tophead">
            <h2 style="text-align: center; margin-top: 40px;">Featured Products</h2>
        </div>

        <div class="adContainer" id="ad-cards-container">

        </div>


        <div class="topbtnbar">
            <a href="#" class="btn border-info bg-black text-white topbtn"><span><i class="fa-solid fa-caret-up"></i></span> Top</a>
        </div>






        <!-- Footer -->
        <%- include('./footer.ejs'); %>





            <script>
                document.addEventListener("DOMContentLoaded", function(event) {

                    realTime();

                });


                function realTime() {

                    var date = new Date();
                    var hour = date.getHours();
                    var min = date.getMinutes();
                    var sec = date.getSeconds();
                    var halfday = "AM";
                    halfday = (hour >= 12) ? "PM" : "AM";
                    hour = (hour == 0) ? 12 : ((hour > 12) ? (hour - 12) : hour);
                    hour = update(hour);
                    min = update(min);
                    sec = update(sec);
                    document.getElementById("h").innerText = hour;
                    document.getElementById("m").innerText = min;
                    document.getElementById("s").innerText = sec;
                    document.getElementById("ap").innerText = halfday;

                    setTimeout(realTime, 1000);
                }

                function update(k) {
                    if (k < 10) {
                        return "0" + k;
                    } else {
                        return k;
                    }
                }
            </script>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <% if(user) { %>
                <script type="text/javascript" src="http://localhost:3000/script.js"></script>
                <% } else { %>
                    <script type="text/javascript" src="http://localhost:3000/loginscript.js"></script>
                    <% } %>




</body>

</html>