
	

	<!DOCTYPE html>
<html>
<head>
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Object Form</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3000/styles.css">
	<script src="https://kit.fontawesome.com/ef8a591cb3.js" crossorigin="anonymous"></script>
	<!-- Custom CSS -->
	<style>
		:root {
		   --blue1: #142850;
		   --blue2: #27496D;
		   --blue3: #0C7B93;
		   --blue4: #00A8CC;
		   --bisket: rgb(251, 218, 174);
		   --yello: #F1F7B5;
		   --redd: #FD8A8A;
	   }
	   
	   label {
		   font-size: 20px;
	   }
	   
	   body {
		   width: 100%;
		   color: white;
		   background-image: linear-gradient(to bottom, white, rgb(255, 160, 207));
	   }
	   
	   .secondone {
		   width: 50%;
		   min-width: 350px;
		   background-color: #333;
		   padding: 0 25px 25px 25px;
		   margin-top: 80px;
		   margin-bottom: 80px;
		   border-radius: 30px;
		   border-top: 10px solid blueviolet;
		   border-bottom: 10px solid lightgreen;
		   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	   }
	   
	   h2 {
		   color: orangered;
		   margin: 10px 0 10px 0;
		   text-align: center;
	   }
	   
	   hr {
		   width: 99%;
		   margin-top: 0;
		   margin-bottom: 20px;
		   background-color: grey;
	   }
	   
	   .form-control {
		   background: whitesmoke;
		   border: 2px solid var(--blue4);
		   margin-top: 0;
		   /* border-color: green; */
	   }
	   
	   .form-control:focus {
		   border-color: greenyellow;
		   box-shadow: none;
	   }
	   
	   label {
		   margin-bottom: 0;
	   }
	   
	   .btn {
		   background-color: var(--blue4);
		   border-color: white;
		   margin-top: 20px;
		   float: right;
	   }
	   
	   .btn:hover {
		   background-color: lightgreen;
	   }
	   
	   .error {
		   color: red;
		   font-size: 12px;
		   margin-top: 5px;
	   }
	   
	   .logo {
		   font-size: 40px;
		   color: white;
		   padding: 0px;
		   margin: 0px 5px 0px -20px;
	   }
   </style>
</head>

<body style = "background-color: white;">
	<!-- <i class="fa-sharp fa-regular fa-handshake"></i> -->
	<i class="fa-sharp fa-regular fa-handshake"></i>

	<nav class="navbar navbar-expand-sm navbar-dark shadow-sm p-4 mb-4 fixed-top" >
        <div class="container-fluid" style="display: flex; justify-content: center;">
			
			<span><i class="fa-solid fa-handshake logo"></i></span>
            <!-- <div class="heading">
                <h2>Campus<span style="color: orangered;">Trade</span></h2>
                <p>A student to student market place.</p>
            </div> -->
            <a class="navbar-brand" style="font-size:min(35px,4vw); padding: 0px; margin-top: -5px; margin-bottom: -5px;
			" href="javascript:void(0)">Campus<span style="color: orangered;">Trade</span></a>
            <button class="menubtn" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<!-- <i class="fa-sharp fa-regular fa-handshake"style="background-color:white;"></i> -->
                <span class="navbar-toggler-icon"></span>
            </button>
           
        </div>
    </nav>

	<div class="secondone"  >
		<h2>Object Form</h2>
		<form id="object-form" method="POST" action="http://localhost:3000/api/form" enctype="multipart/form-data">
			<!-- <div class="form-group">
				<label for="id">ID:</label>
				<input type="text" class="form-control" id="id" name="id" required>
				<span class="error" id="id-error"></span>
			</div> -->
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="name" required>
				<span class="error" id="name-error"></span>
			</div>
			<input type="hidden" name="email" value="<%=user.email%>"/>
            <input type="hidden" name="password" value="<%=user.password%>" />
			<div class="form-group">
				<label for="type">Type of Object:</label>
				<input type="text" class="form-control" id="type" name="type" required>
				<span class="error" id="type-error"></span>
			</div>
			<div class="form-group">
				<label for="type">Description of Object:</label>
				<input type="text" class="form-control" id="description" name="description" required>
				<span class="error" id="type-error"></span>
			</div>
			<div class="form-group">
				<label for="age">How old:</label>
				<small>eg.(2 years 5 months)</small>
				<input type="text" class="form-control" id="age" name="age" required>
				<span class="error" id="age-error"></span>
			</div>
			<div class="form-group">
				<label for="price">Price:</label>
				<input type="text" class="form-control" id="price" name="price" required>
				<span class="error" id="price-error"></span>
			</div>
			<div class="form-group">
				<label for="image1">Image :</label>
				<small>(please enter a clear image of the item)</small>
				<input type="file" class="form-control-file" id="image" name="photo" required>
				<span class="error" id="image1-error"></span>
			</div>
			

<script>
	const input = document.getElementById('image')

input.addEventListener('change', (event) => {
  const target = event.target
  	if (target.files && target.files[0]) {

      const maxAllowedSize = 0.1 * 1024 * 1024;
      if (target.files[0].size > maxAllowedSize|| !(target.files[0].name.match(/\.(jpg|jpeg|png|gif)$/))) {
      	window.alert("please keep the file size less than 100 KB and enter a valid image")
       	target.value = ''
      }
  }
})
</script>

<button type="submit" class="btn btn-primary" id = "button2" style="background-color: brown;height: 62px;width: 116px;display: inline-block;border-radius: 23px;">Submit</button>
</form>
</div>


	