
<!DOCTYPE html>
<html>
<head>
	<title>Shopping Website Profile Page</title>
	<link rel="stylesheet" href="http://localhost:3000/user_style.css">
	<script src="http://localhost:3000/ct.js"></script>
</head>
<body>
	<div id="profile">
		<h1>My Profile</h1>
	
		<div id="profile-photo">
			<img src="logo.png" alt="Profile Photo">
		</div>
		<div id="profile-info">
			<ul>
				<li><span>Name:</span> </li>
				<li><span>Email:</span> </li>
				<li><span>College:</span></li>
			</ul>
		</div>
	</div>
	<div id="profile-card-container">
		<h2>Cards Added</h2>
		
		<div id="card-container">
			
			<div class="card"><img  src="card1.jpg" alt="Card 1"></div>
			<div class="card"><img src="card2.jpg" alt="Card 2"></div>
			<div class="card"><img src="card3.jpg" alt="Card 3"></div>
            <div class="card"><img src="card1.jpg" alt="Card 1"></div>
			<div class="card"><img src="card2.jpg" alt="Card 2"></div>
			<div class="card"><img src="card3.jpg" alt="Card 3"></div>
            <div class="card"><img src="card1.jpg" alt="Card 1"></div>
			<div class="card"><img src="card1.jpg" alt="Card 1"></div>
			<div class="card"><img src="card1.jpg" alt="Card 1"></div>
			<div class="card"><img src="card1.jpg" alt="Card 1"></div>
			<div class="card"><img src="card1.jpg" alt="Card 1"></div>
		</div>
	</div>
    <div id="profile-card-container-2">
		<h2>posted cards</h2>
		<div id="card-container-2">
			<div class="card1"><img  src="card11.jpg" alt="card1 1"></div>
			<div class="card1"><img src="card12.jpg" alt="card1 2"></div>
			<div class="card1"><img src="card13.jpg" alt="card1 3"></div>
            <div class="card1"><img src="card11.jpg" alt="card1 1"></div>
			<div class="card1"><img src="card12.jpg" alt="card1 2"></div>
			<div class="card1"><img src="card13.jpg" alt="card1 3"></div>
            <div class="card1"><img src="card11.jpg" alt="card1 1"></div>
			<div class="card1"><img src="card11.jpg" alt="card1 1"></div>
			<div class="card1"><img src="card11.jpg" alt="card1 1"></div>
			<div class="card1"><img src="card11.jpg" alt="card1 1"></div>
			<div class="card1"><img src="card11.jpg" alt="card1 1"></div>
		</div>
	</div>
	
</body>
</html>