
<!DOCTYPE html>
<html>
<head>
	<title>Shopping Website Profile Page</title>
	<link rel="stylesheet" href="http://localhost:3000/user_style.css">
	<script src="http://localhost:3000/USER_PROFILE.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<div id="profile">
		<h1 style="font-size: 40px	;font-family: Georgia, 'Times New Roman', Times, serif;">PROFILE</h1>
	
		<div id="profile-photo">
			<img src="" alt="Profile Photo">
		</div>
		<div id="profile-info">
			<ul>
				<li><span>User-ID: <%= x=user.user_id %></span></li>
				<li><span>Name:<%= user.user_name %></span> </li>
				<li><span>Email:<%= user.em %></span> </li>
				<li><span>College:<%= user.coll %></span></li>
				
				<a href="http://localhost:3000/product_form.html"><button type="submit">Post AD</button></a>
			</ul>
		</div>
	</div>
	<div id="profile-card-container">
		
		<h2 style="font-size: 25px; font-family: Georgia, 'Times New Roman', Times, serif;">CARDS ADDED</h2>
		<hr>
		
		<div id="card-container">
			
			<div class="card"><img src="card1.jpg" alt="Card 1"></div>
			<div class="card"><img src="card2.jpg" alt="Card 2"></div>
			<div class="card"><img src="card3.jpg" alt="Card 3"></div>
            <div class="card"><img src="card4.jpg" alt="Card 4"></div>
			<div class="card"><img src="card5.jpg" alt="Card 5"></div>
			<div class="card"><img src="card6.jpg" alt="Card 6"></div>
            <div class="card"><img src="card7.jpg" alt="Card 7"></div>
			<div class="card"><img src="card8.jpg" alt="Card 8"></div>
			<div class="card"><img src="card9.jpg" alt="Card 9"></div>
			<div class="card"><img src="card10.jpg" alt="Card 10"></div>
			<div class="card"><img src="card11.jpg" alt="Card 11"></div>
		</div>
	</div>
    <div id="profile-card-container-2">
		<h2 style="font-size: 25px	;font-family: Georgia, 'Times New Roman', Times, serif;">CARDS POSTED</h2>
		<hr>
		<div id="card-container-2">
			<div class="card1"><img src="card1.jpg" alt="card 1"></div>
			<div class="card1"><img src="card2.jpg" alt="card 2"></div>
			<div class="card1"><img src="card3.jpg" alt="card 3"></div>
            <div class="card1"><img src="card4.jpg" alt="card 4"></div>
			<div class="card1"><img src="card5.jpg" alt="card 5"></div>
			<div class="card1"><img src="card6.jpg" alt="card 6"></div>
            <div class="card1"><img src="card7.jpg" alt="card 7"></div>
			<div class="card1"><img src="card8.jpg" alt="card 8"></div>
			<div class="card1"><img src="card9.jpg" alt="card 9"></div>
			<div class="card1"><img src="card10.jpg" alt="card 10"></div>
			<div class="card1"><img src="card11.jpg" alt="card 11"></div>
		</div>
	</div>
	
</body>
</html>